.app {
  text-align: center;
}

.todo-form {
  max-width: 800px;
  margin: 5% auto;
  text-align: center;
}

.todo-form .add {
  margin: 0 2%;
}

.todo-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-card {
  margin: 0 5%;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
}
